.tracks {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 90vh;
    width: calc(90vw + 2px);
    transform: translateY(-50%) translateX(-50%);
    border-top: 1px solid $black;
    border-left: 1px solid $black;
    .marquee {
      position: static;
      order: 3;
      width: calc(100% - 1px);
      animation: marquee 40s infinite linear both;
      border-bottom: 1px solid $black;
      border-top: 0;
      border-right: 1px solid $black;
    }
}
.tracks-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30vw;
    height: 30vw;
    max-height: 40vh;
    text-align: center;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    
//    animation: hover infinite ease-in-out, fade-in both;
    @for $i from 1 to 6 {
        &:nth-child(#{$i}){
//            order: $i * 2;
            animation-duration: 4000ms + 200ms * $i, 1200ms;
            animation-delay: 100ms * $i, 300ms * $i;
        }
    }
    audio {
        display: none;
    }
    .btn {
      margin-bottom: 1rem;
    }
    .track-artist {
      margin-bottom: .5em;
    }
}
