<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AP Audio</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="site-header">
        Assembly Point \ Art Licks Weekend 2018
    </header>
    {% include blob.svg %}
    {{content}}
    <footer class="marquee">
        <span class="now-playing">
            Now Playing: Title by Artist Name
        </span>
        God is only on the periphery of religion; individuals themselves are its focal point. Individuals acknowledge a God beyond themselves only in order to possess a boundless space in which they can spread out and expand for all eternity their limited, particular, pitiable individuality. Assembly Point invites you to the online exhibition GIOTROP opening on Thursday 4th of October to coincide with Art Licks Weekend 2018. This exhibition in the form of a compilation album, will host art and artists whose work exists and revolves around the sound/musical and visual arts axes. The album will be accompanied by a visual response to the soundtrack.
    </footer>
    <script src="/dist/main.js"></script>
</body>
</html>