---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GIOTPOR</title>
    <link rel="stylesheet" href="/ap-audio-site/css/circle.css">
</head>
<body>
  <section class="top">
    <h1 class="site-title">
      <img src="/ap-audio-site/assets/logo.png" alt="">
        </h1>
    {% include blob.svg %}
    <ul class="tracks">
        {% for track in site.data.tracks %}
        <li class="tracks-item">
            <div class="track-inner">    
                <button class='btn' id="play-btn">
                    <div class="icon">
                        {% include play.svg %}
                        {% include pause.svg %}
                    </div>
                </button>
                <div class="track-item-copy">
                    <h3 class='track-artist'>{{track.artist}}</h3>
                    <h2 class='track-title'>{{track.title}}</h2>
                    <audio src="" controls></audio>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <footer class="marquee">
        <span>God is only on the periphery of religion</span><em>Now Playing: Title by Artist Name</em><span>God is only on the periphery of religion</span><em>Now Playing: Title by Artist Name</em><span>God is only on the periphery of religion</span>
    </footer>
    </section>
    <section class="details">
        <div class='copy'>
            <p>
                <em>God is on the periphery of religion.</em> Individuals themselves are its focal point. Individuals acknowledge a divinity beyond themselves only in order to possess a boundless space in which they can spread out and expand for all eternity their limited, particular, pitiable individuality.
            </p>
            <p>
                Assembly Point \ Art Licks Weekend 2018
            </p>
        </div>
      <div class="credits">
<h3>Curation</h3>
<p>
   Natasha Cox and Marios Stamatis
</p>
<h3>Development</h3>
<p>
  <a href="http://www.maxkoehler.com">Max Kohler</a>
</p>
</div>


    </section>
    <script src="/ap-audio-site/dist/main.js"></script>
</body>
</html>
